.instruction-answer td{ 

	padding: 10px;
	
	}
	table {
    width: 100%;

}

.bear tr{
  border-bottom: solid 1px #d3d3d3;
}
.bear tr:last-child{
  border-bottom: 0;
}
.bear thead th { 
	padding:10px;
	text-align: left 10px
	border-bottom: solid 1px #d3d3d3;
	t
}
.rat{border-bottom: solid 1px #d3d3d3;
border-top: solid 1px #d3d3d3;
}
.rat div:first-child{
	font-size: 38px;
	font-weight: bold;
	text-align:center;
}
.rat div:nth-child(2){
	font-size: 13px;
	color: #d3d3d3;
	text-align: center
}
.rat{
	max-width: 275px;
	min-height: 100px;
}
.bar td{
	border-bottom: 0px;

}
.bar th{
	width: 100px;
}
.bar div{
	border: 1px solid white;
	color: white;
	background-color: #7090DE;
	height: 30px;
	line-height: 30px;
	border-radius:0 5px 5px 0;}
.bar td{ 
	max-width: 30%
}
.instruction-answer .bar td{padding:0;
text-indent: 3px;
text-transform: down 1px;
}

/*.background {
  /** Hide the lightbox */
  

  /** Apply basic lightbox styling */
  /*position: fixed;*/
  /*z-index: 9;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
}/*

/*.frog{

  width: 500px;
  height: 250px;
  top:200px;
  position:relative;
  border-radius:10px;
  padding:20px;
  background-color: white;
	margin:0px auto;
	text-align: left;

}*/

/*.background:target {
  /** Show lightbox when it is target */
  /*display: block;

  /** Remove default browser outline style */
  /*outline: none;
}

/*.fish{
	border-radius:5px;
	float:right;
	background-color:orange;

}
.monk{
	text-decoration: none;
	line-height: 35px;
	padding:30px;
	color:white;
	font-size: 20px;
}*/

.egg{
	float:left;
padding-right:10px;
}
.eggs{
	margin:5px;
	position:relative;
	top:2px;
}
.nut{
		float:left;
padding-right:10px;

}
.nuts{	overflow:hidden;}

.shine{
			float:left;
padding-right:10px;

}
.shiny{overflow:hidden;

}
.trees{

overflow:hidden;
}
.wigs{
	float:left;
padding-right:10px;
}